.Home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.homeTitle {
		display: inline;
		margin: 5rem 0;
	}

	form {
		width: 50%;
		display: flex;
		justify-content: space-around;

		input {
			background-color: rgba(40,44,52, 0.9);
			border: 1px solid rgb(30,119,246);
			outline: none;
			height: 40px;
			color: white;
		}

		button {
			background-color: rgba(40,44,52, 0.9);
			border: 1px solid rgb(30,119,246);
			color: rgb(30,119,246);
			letter-spacing: 2px;
			padding: 0 20px;
		}
	}
}